{%extends "layout.html"%}
{% block scripts %}
{{super()}}

<script type=text/javascript src="{{
    url_for('static', filename='jquery.min.js') }}"></script>
<script>
    $(document).ready(function(){
      $("p").hide();
      $("button").click(function(){
        $("p").toggle();
      });
    });
</script>

{% endblock %}
{%block content%}
<style>
  img {
  border-radius: 50%;
  }
  
  .text-center{
    font-family: 'Roboto', sans-serif;
    
  }
  
</style>
<div class="text-center">
<legend>Dashbord</legend>

</div>  
<div class="text-center">
   <div class="container=fluid"> <img src="{{url_for('static', filename='bapu.jpg')}}"class="rounded" alt="..." width="200" height="200">
    <br>
    <br>
   </div>
</div>
   <div class="text-center">
   <h1> WELL COME</h1>
   </br>
   
    {{xy}}
    <br>

    </div>
    <div class="row">
    <div class="col-md-4">
    <div class=container>
  
    <div class="text-center">
   
      <h3>Today Appointment: {{a}}</h3>
      <br>
     
    </div>
  </div>
  </div>
</div>
    
</div>
  
{%endblock %}