{%extends "layout.html"%}
{% block scripts %}
{{super()}}

<script type=text/javascript src="{{
    url_for('static', filename='jquery.min.js') }}"></script>
<script>
    $(document).ready(function(){
      $("p").hide();
      $("button").click(function(){
        $("p").toggle();
      });
    });
</script>

{% endblock %}
{%block content%}
<style>
  img {
  border-radius: 50%;
  }
  .col-md-4{
    border:1px solid #000;
    font-family: 'Roboto', sans-serif;

  }
  .col-md-16{
    border:1px solid #000;
    font-family: 'Roboto', sans-serif;

  }
  .text-center{
    font-family: 'Roboto', sans-serif;
    
  }
  
</style>
<div class="text-center">
<legend>Dashbord</legend>

</div>  
<div class="text-center">
   <div class="container=fluid"> <img src="{{url_for('static', filename='bapu.jpg')}}"class="rounded" alt="..." width="200" height="200">
    <br>
    <br>
   </div>
</div>
   <div class="text-center">
   <h1> WELL COME</h1>
   </br>
   
    {{xy}}
    <br>

    </div>
    <div class=container>
  <div class="row">
    <div class="text-center">
    <div class="col-md-4">
      <h3>Today Appointment:</h3>
      <br>
      {{starting_today}}
    </div>
  </div>
  </div>
</div>
    
</div>
<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      
      <th scope="col"><p>Total Renvnue : {{starting}}</p></th>
      <th scope="col"> <p>This Week : {{starting2}}</p></th>
    </tr>
  </thead>
  <tbody>
    <br>  
    <button class="btn btn-info">Total Renvnue</button>
    <br>
  </div>
{%endblock %}