
{% extends "bootstrap/base.html" %}

{% block navbar %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dr.Vikas Badhe </a>
    </div>
    <ul class="nav navbar-nav">
      
      <li><a href="/newpatient">New Patient</a></li>
      <li><a href="/consulting">Consulting</a></li>
      <li><a href="/viewall">View All</a></li>
      
      
      <li><a href="/admin">Edit Data</a></li>
    </ul>
  </div>
</nav>
{% endblock %}