<div class="container">
    
    <form action="/newpatient" method="POST" class="form-horizontal" >
        <div class="from-horizontal">
            <label>name</label>
            <input type="text" name="name">
            <lable>Phone Number</lable>
            <input type="text"   name="phone">
            <lable>area</lable>
            <input type="text"  name="area">
            <lable>age</lable>
            <input type="text"  name="age">
            <lable>sex</lable>
            <select name="sex">
                <option>male</option>
                <option>female</option>
                <option>other</option>
            </select>
            <button class="btn btn-primary btn-lg btn-block"type="submit">Submit</button>
        </div>

    </form>
</div>











<select id="selectbasic" name="selectbasic" class="form-control">
    <option value="1">Option one</option>
    <option value="2">Option two</option>
  </select>