{%extends "layout.html"%}

{% block content%}
<style> 
    /* CSS style for Boxes */ 
    new { 
        display: inline-block; 
        width: 70px; 
        height: 70px; 
        margin: 6px; 
        background-color: #DCDCDC; 
    } 
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<h1 class="text-center">View all <span class="badge badge-secondary">reports</span></h1>
<hr>
<div class="text-center"><form method="post">
{{form.csrf_token}}
{{form.opts}}
<input type="submit" class="btn btn-primary">
</form><br>
</div>

<div class="text-center">
<h3><b><div class="text-uppercase">Patient Name:{{oldnew.name}}<br><br></div></b></h3>  

Gender :{{oldnew.sex}}<br>
Age :{{oldnew.age}}<br>
Area :{{oldnew.area}}<br>
First visit  {{oldnew.date_created}}
</div>
<hr>

{% for mynews in mynew%}
    <h5 class="text-right">Date:{{mynews.date_treatment}}</h5>
    <div name="new>"
    <h2 class="text-center">Treatment ID- {{mynews.id}}</h2>
    <h6>Patient Complaint:{{mynews.complaint}}</h6>
    
    <h6>Treatment:{{mynews.treatment}}</h6>
    <h6>Prescribe:{{mynews.medicine}}</h6>
    <h6>Report:{{mynews.report}}</h6>
    <h6>Appointment:{{mynews.appointment}}</h6>
    <h6>Fee:{{mynews.fee}}</h6>

    <hr>
    
{%endfor%}
<table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Treatment ID</th>
        <th scope="col">Date</th>
        <th scope="col"> Complaint</th>
        <th scope="col">Treatment</th>
        <th scope="col">Report</th>
        <th scope="col">Medicine</th>
        <th scope="col">Fee</th>
        <th scope="col">Appointment</th>
      </tr>

{% for mynews in mynew%}


<tbody>
    <tr>
      <th scope="row">{{mynews.id}}</th>
      <td>{{mynews.date_treatment}}</td>
      <td>{{mynews.complaint}}</td>
      <td>{{mynews.treatment}}</td>
      <td>{{mynews.report}}</td>
      <td>{{mynews.medicine}}</td>
      <td>{{mynews.fee}}</td>
      <td>{{mynews.appointment}}</td>
    </tr>

{%endfor%}
<tbody>
<tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>{{c}}</th>
    <th></th>
    
</tr>
</table>
{%endblock%}